{% extends "layout.html" %}

{% block body %}


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
        <h1 class="zero_margin mb-0" style="margin-bottom:2%; margin-top:5%;">
            <kbd class="display-4 text-center ">{{ current_user.username }} <br></kbd>
        </h1>
                <p class="text-secondary" style="margin-top:0">{{ current_user.email }}</p>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Головна</a>
        </li>
        <li class="breadcrumb-item active">Обліковий запис</li>
          <li class="breadcrumb-item active">{{ current_user.username }}</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
          <div class="list-group">

           <!-- <a href="#" class="list-group-item text-center"><img src="static/img/default.jpg" class="rounded-circle""
                                           width="150" height="150">
            </a>-->

              <!-- Avatar -->
              <a class="list-group-item text-center">

                  <form method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                      <div class="form-group">

                          <div class="img__wrap">
                              <img class="img__img rounded-circle" src="{{ image_file }}" width="150" height="150" alt="avatar">
                              <div class="img__description_layer">
                                <p class="img__description ">{{ form.picture(class="form-control-file") }}</p>
                              </div>
                          </div>
                          {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                          {% endif %}
                      </div>

                  </fieldset>
                  <div class="form-group text-center">
                     {{ form.submit(class="btn btn-outline-info") }}
                  </div>
              </form>
              </a>



            <a class="list-group-item">Повне ім&#39я: John Doe</a>
            <a class="list-group-item">Група: Адміністратори</a>
            <a href="#" class="list-group-item">Додані новини</a>
          </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
          <h2 class="zero_margin mb-0" style="margin-bottom:3%; margin-top:0%;">
            <kbd class="display-4 text-center ">Опис <br></kbd>
        </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta,
              et temporibus, facere perferendis veniam beatae non debitis, numquam
              blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores
              iure maxime ducimus fugit.</p>
           <button type="button" class="btn btn btn-md float-right">Змінити опис</button>
        </div>

      </div>

      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock body %}