{% extends "layout.html" %}

{% block body %}


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
        <h1 class="frecs_heading h3">{{ current_user.username }}</h1>
                <p class="text-secondary" style="margin-top:0">{{ current_user.email }}</p>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Головна</a>
        </li>
        <li class="breadcrumb-item active">Обліковий запис</li>
          <li class="breadcrumb-item active">{{ current_user.username }}</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
          <div class="list-group">
              {% if current_user.image_file == "default.jpg"%}
            <a href="index.html" class="list-group-item text-center"><img src="http://placehold.it/150x150" class="rounded-circle" alt="Faculty logo"
                                           width="150" height="150">

            </a>
              {% else %}
              <a href="index.html" class="list-group-item text-center"><img src="http://placehold.it/150x150" class="rounded-circle" alt="Faculty logo"
                                           width="150" height="150"></a>
              {% endif %}
            <a class="list-group-item">Повне ім&#39я: John Doe</a>
            <a class="list-group-item">Група: Адміністратори</a>
            <a href="#" class="list-group-item">Додані новини</a>
          </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
          <h2>Опис</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}