{% extends "layout.html" %}
{% block body %}
      <div class="container">
    <div class="content-section" id="short_page" style="padding-bottom:10%;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Додати роль</legend>
                <div class="form-group">
                    {{ form.role.label(class="form-control-label") }}
                    {{ form.role(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
              </div>
{% endblock body %}