{% extends "layout_admin.html" %}

{% block body %}

{% set active_page = "index" %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Панель керування <small style="color: #666">{ {{current_user.username}} }</small></h1>
                <hr>
            </div>

            <div class="col-sm-auto" style="width: 100%;">
                <table class="table table-striped table-bordered table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        


{% endblock %}