{% extends "layout_admin.html" %}

{% block body %}

{% set active_page = "index" %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Панель керування <small style="color: #666">{ {{current_user.username}} }</small></h1>
                <hr>

                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

{% endblock %}