{% extends "layout.html" %}

{% block body %}
  <!-- Parallax heading -->
  <div class="bgimg-1">
    <div class="caption">
      <h1><span class="border text-uppercase">Кафедра радіотехніки та радіоелектронних систем</span></h1>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">

    <!-- last news heading -->
    <h2 class="zero_margin mb-0" style="margin-bottom:2%; margin-top:2%;">
        <kbd class="display-4 text-center ">Останні новини <br>
        </kbd>
    </h2>
      <p class="text-muted zero_padding" id="last_updated">Останнє оновлення -  {{day}} {{month}} {{year}} - {{time}}</p>
    <hr>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            {% if last_3_posts[2] %}
        <div class="card h-100">
          <a href="{{ url_for('post', post_id=last_3_posts[2].id) }}">
              <img class="card-img-top" src="{{ url_for('static', filename='img/' + last_3_posts[2].image_file) }}" alt="huawei">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a>{{ last_3_posts[2].title }}</a>
            </h4>
            <p class="card-text">{{ last_3_posts[2].content[:75] }}...</p>
          </div>
            <div class="card-footer">
              <p class="float-left">Автор {{ last_3_posts[2].author.username }}</p>
            <a href="{{ url_for('post', post_id=last_3_posts[2].id) }}" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
            {% else %}
        <div class="card h-100">
          <a href="#">
              <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="huawei">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a>Новина</a>
            </h4>
              <p class="card-text">Додайте новини <a href="{{url_for('new_post')}}">тут</a></p>
          </div>
            <div class="card-footer">
              <p class="float-left">Автор</p>
            <a href="#" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
            {% endif %}
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          {% if last_3_posts[1] %}
        <div class="card h-100">
          <a href="{{ url_for('post', post_id=last_3_posts[1].id) }}">
              <img class="card-img-top" src="{{ url_for('static', filename='img/' + last_3_posts[1].image_file) }}" alt="physics">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a>{{ last_3_posts[1].title }}</a>
            </h4>
            <p class="card-text">{{ last_3_posts[1].content[:75] }}...</p>
          </div>
            <div class="card-footer">
                <p class="float-left">Автор {{ last_3_posts[1].author.username }}</p>
            <a href="{{ url_for('post', post_id=last_3_posts[1].id) }}" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
          {% else %}
        <div class="card h-100">
          <a href="#">
              <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="huawei">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a>Новина</a>
            </h4>
              <p class="card-text">Додайте новини <a href="{{url_for('new_post')}}">тут</a></p>
          </div>
            <div class="card-footer">
              <p class="float-left">Автор</p>
            <a href="#" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
            {% endif %}
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
          {% if last_3_posts[0] %}
        <div class="card h-100">
          <a href="{{ url_for('post', post_id=last_3_posts[0].id) }}">
              <img class="card-img-top" src="{{ url_for('static', filename='img/' + last_3_posts[0].image_file) }}" alt="">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a >{{ last_3_posts[0].title }}</a>
            </h4>
            <p class="card-text">{{ last_3_posts[0].content[:75] }}...</p>
          </div>
            <div class="card-footer">
                <p class="float-left">Автор {{ last_3_posts[0].author.username }}</p>
            <a href="{{ url_for('post', post_id=last_3_posts[0].id) }}" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
          {% else %}
        <div class="card h-100">
          <a href="#">
              <img class="card-img-top" src="https://via.placeholder.com/350x250" alt="huawei">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a>Новина</a>
            </h4>
              <p class="card-text">Додайте новини <a href="{{url_for('new_post')}}">тут</a></p>
          </div>
            <div class="card-footer">
              <p class="float-left">Автор</p>
            <a href="#" class="btn btn-primary float-right">Дізнатись більше</a>
          </div>
        </div>
            {% endif %}
      </div>

    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
      <h2 style="margin-bottom:2%"><kbd class="display-4 text-center">Події кафедри та університету</kbd></h2>
    <hr>
    <br>
    <div class="row">

      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/800x550" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Конференція</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/800x550" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Оголошення</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/800x550" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Курси</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-12">
        <h2><kbd class="display-4 text-center">Абітурієнту</kbd></h2>
        <hr>
        <p>Шановні абітурієнти! Факультет радіофізики, електроніки та комп'ютерних систем Київського
            національного університету імені Тараса Шевченка запрошує вас безкоштовно отримати вищу
            освіту за освітньо-кваліфікаційним рівнем “бакалавр” на денній формі навчання і стати фахівцем
            за напрямом підготовки “Радіотехніка”. Прийом на навчання на другий курс здійснюється на базі диплому молодшого
            спеціаліста після проходження фахового випробування у формі екзамену з предметів фізика та математика, та на перший курс за результатами ЗНО.
        </p>

          <h2 style="margin-bottom:2%"><kbd class="display-4 text-center">Чим займаються студенти</kbd></h2>
          <hr>
        <ul>
            <a class="list-group-item">Прикладна радіотехніка</a>
            <a class="list-group-item">Робототехніка</a>
            <a class="list-group-item">Галузь НВЧ</a>
            <a class="list-group-item">Наноелектроніка</a>
        </ul>
      </div>
    </div>
      <!-- /.row -->
      <hr>
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Подати заявку для складання вступних іспитів дуже просто, потрібно лише натиснути кнопку та подати документи.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Натисни, щоб подати документи</a>
      </div>
    </div>
  </div>

  <div class="image-container" >
      <iframe height="600" width="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10176.868259453342!2d30.
        469817000000003!3d50.381152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4732b80e33e6b43!2sUniversity+o
        f+Kiev+Faculty+of+Radio+Physics%2C+Electronics+and+Computer+Systems!5e0!3m2!1sen!2sua!4v1527705681370"
                frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

    <!-- /.container -->
{% endblock %}