{% extends "layout.html" %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
        <h1 class="zero_margin mb-0" style="margin-bottom:2%; margin-top:5%;">
            <kbd class="display-4 text-center ">{{ user.username }} <br></kbd>
        </h1>
                <p class="text-secondary" style="margin-top:0">{{ user.email }}
                {% if user.confirmed %}
                    <span style="color:green;"> - адреса підтверджена</span>
                {% else %}
                    <span style="color:red;"> - адреса не підтверджена</span>
                {% endif %}
                </p>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Головна</a>
        </li>
        <li class="breadcrumb-item active"><a href="{{ url_for('users') }}">Користувачі </a></li>
          <li class="breadcrumb-item active">{{ user.username }}</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-4 mb-4">
          <div class="list-group">

           <!-- <a href="#" class="list-group-item text-center"><img src="static/img/default.jpg" class="rounded-circle""
                                           width="150" height="150">
            </a>-->

              <!-- Avatar -->
              <a class="list-group-item text-center">

                  <form method="POST" action="" enctype="multipart/form-data">
                  <fieldset class="form-group">
                      <div class="form-group">

                          <div class="img__wrap">
                              <img class="rounded-circle" src="{{ image_file }}" width="200" height="200" alt="avatar">
                          </div>
                      </div>

                  </fieldset>
                  <div class="form-group text-center">
                  </div>
              </form>
              </a>
            <a class="list-group-item">Повне ім&#39я: John Doe</a>

              <!--pass user status here-->
            <a class="list-group-item">Група: {% for role in spans %}
                                                        {{ role|safe }}
                                                    {% endfor %}

                </a>
            <a href="{{ url_for('news') + '/' + user.username}}" class="list-group-item">Новини автора</a>
          </div>
        </div>

        <!-- Content Column -->
        <div class="col-lg-8 mb-4">
          <h3 class="zero_margin mb-0" style="margin-bottom:3%; margin-top:0%;">
            <kbd class=" text-center">Опис</kbd>
            </h3>
          <p style="margin-top:2%;" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta,
              et temporibus, facere perferendis veniam beatae non debitis, numquam
              blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores
              iure maxime ducimus fugit.</p>

            {% if 'admin' in current_user.roles %}
            <form method="POST" action="">
              {{ form.hidden_tag() }}
              <legend class="border-bottom mb-4">Керування доступом</legend>
              <div class="form-group">
                <div class="col-4">
                          {{ form.role(class="form-control") }}
                </div>
              </div>
              <div class="form-group col-3">
                {{ form.submit(class="btn btn-outline-info btn-sm") }}
              </div>
            </form>
            {% endif %}
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Видалити роль?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Повернутися</button>
                    <form action=get_action() method="POST" id="action_form">
                        <button class="btn btn-danger" id="bitch" type="submit" value="Видалити" href="">Видалити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

{% endblock body %}