<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RT project</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/modern-business.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="static/img/knu.jpg" width="50" height="50" alt="">
          Кафедра радіотехніки

        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Абітурієнту</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Контакти</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Портфоліо
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Блог
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Інше
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Мова сайту
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="#">Українська</a>
                <a class="dropdown-item" href="#">English</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
        <h1 class="header">Кафедра</h1>
        <!--<button type="button" class="btn btn-dark">Dark</button>-->
        <div class="parallax"></div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Молетроніка</h4>
            <div class="card-body">
              <p class="card-text">У молекулярній електроніці виокремлюють два основні напрями: ма-
              кромолекулярну електроніку, або органічну електроніку та мікромолеку-
              лярну електроніку, або просто молекулярну електроніку (молетроника). </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Дізнатись більше</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Захист інформації</h4>
            <div class="card-body">
              <p class="card-text">Зáхист інформáції (англ. Data protection) — сукупність методів і засобів, що забезпечують цілісність, конфіденційність і доступність інформації за умов впливу на неї загроз природного або штучного характеру, реалізація яких може призвести до завдання шкоди власникам і користувачам інформації.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Дізнатись більше</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Корпоративна соціальна відповідальність</h4>
            <div class="card-body">
              <p class="card-text">19 листопада 2015 р. кафедрою Міжнародної економіки та маркетингу було організовано та проведено бізнес форум «Корпоративна соціальна відповідальність як фактор розвитку економіки».</p>
            </div>
            <div class="card-footer">
              <a href="http://econom.univ.kiev.ua/2015/11/27/forum/" class="btn btn-primary" target="_blank">Дізнатись більше</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Події кафедри та університету</h2>
      <br>
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="static/img/nik.jpg" alt="huawei"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="http://www.univ.kiev.ua/news/3476" target="_blank">Huawei</a>
              </h4>
              <p class="card-text">27 березня 2012 року відбулося урочисте відкриття авторизованої Мережевої Академії Huawei в Київському національному університеті імені Тараса Шевченка.До речі першої не лише в Україні, а й в СНД.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="http://rex.knu.ua/2018/05/02/xviii-international-young-scientists-conference-on-applied-physics/"><img class="card-img-top" src="static/img/icap18.jpg" alt="physics"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="http://rex.knu.ua/2018/05/02/xviii-international-young-scientists-conference-on-applied-physics/" target="_blank">Прикладна фізика</a>
              </h4>
              <p class="card-text">Нагадуємо, що вже скоро завершується прийом тез на міжнародну конференцію молодих вчених з прикладної фізики, яка відбудеться на факультеті РЕКС з 22 по 26 травня! Дедлайн подовжено до 8 травня.
Серед запрошених доповідачів виступатиме Вадим Присяжний (Institute of Physics and Biophysics, Faculty of Science, University of South Bohemia) із доповіддю «Magnetron sputtering of nanomaterials for various applications».</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Інформаційна безпека</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Наноелектроніка</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Напівпровідники</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Інтернет речей (IoT)</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Популярні галузі застосування радіотехніки</h2>
          <p>Де ти можеш працювати здобувши освіту на ФРЕКС:</p>
          <ul>
            <li>
              <strong>Комп'ютерна інженерія</strong>
            </li>
            <li>Робототехніка</li>
            <li>НВЧ галузь</li>
            <li>Інтернет речей (IoT)</li>
            <li>Наноелектроніка</li>
          </ul>
          <p>Факультет радіофізики, електроніки та комп’ютерних систем — один із найкращих фахових центрів в Україні, який дозволяє отримати сучасну конкурентоспроможну в світі й якісну освіту в галузі прикладної фізики, електроніки та комп’ютерних систем на безкоштовній основі.</p>
        </div>
        <div class="col-lg-6">
          <!-- <img class="img-fluid rounded" src="img/loc.jpg" alt=""> -->
          <iframe height="400" width="540" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10176.868259453342!2d30.469817000000003!3d50.381152!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4732b80e33e6b43!2sUniversity+of+Kiev+Faculty+of+Radio+Physics%2C+Electronics+and+Computer+Systems!5e0!3m2!1sen!2sua!4v1527705681370" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Подати заявку для складання вступних іспитів дуже просто, потрібно лише натиснути кнопку та подати документи.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Натисни, щоб подати документи</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">FRECS 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>